*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
app/build
app/release
*.log
.kotlin
.navigation
/app/google-services.json
.env
.env.*
!/.env.example
